/* Ajoutez ces styles dans votre fichier CSS */
.hero {
    height: 100vh;
    background-color: red;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tab {
    max-height: calc(100vh - 60px); /* Ajustez la valeur selon vos besoins */
    overflow-y: auto;
    border-radius: 10px;
    background-color: white; /* Ajoutez la couleur de fond blanche si nécessaire */
    /*padding: 15px; /* Ajoutez un peu de remplissage si nécessaire */
}





